<% include ../views/partials/header %>
<div class="row">
  <div class="col-md-6">
    <form  method="post" action="/todo/edit/<%= todo._id %>">
      <div class="input-todo-name form-group">
        <label for="text">Todo Name</label>
        <input class="form-control" type="text" name="text" value="<%= todo.text %>" placeholder="Add Todo text">
      </div>
      <div class="input-todo-body form-group">
        <label for="body">Todo Body</label>
        <textarea class="form-control" name="body" placeholder="Add Todo Body" ><%= todo.body %></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Submit Changes</button>
      <a class="btn btn-danger" href='/'>Cancel</a>
    </form>
  </div>

</div>


<% include ../views/partials/footer %>
